<z-page-footer>
  <footer class="page-footer">
    <div class="container">
      <ul class="footer-menu">
        <li>
          <a href="">Settings</a>
        </li>
        <li>
          <a href="">Master Data</a>
        </li>
      </ul>
    </div><!-- .container -->
  </footer><!-- .page-footer -->
</z-page-footer>